a{
    text-decoration: none;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    margin: 20px;
    color: rgb(123, 0, 255);
}
nav{ 
    background-color: rgb(234, 255, 2);
    height: 40px;
    padding-top: 15px;
}
Body{
    background-color: #1f1e33;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    color: cyan;
    text-align: center;
}
h3{
    text-align: center;
    color: cornsilk;
}
h4{
    color: fuchsia;
    text-align: center;
}
p{
    color: yellow;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}